body {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.website{
    color: rgb(10, 209, 235);
     font-size: 40px; 
}
.dolor{
     color: aquamarine; 
}
h1,h2 {
    text-align: center;
}
a {
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: row-reverse;
}
ul li{
    margin: 10px;   
}
ul>li>a:hover{
    color: #000;
}
li {
    list-style-type: none;
}
 #photo{
    background-color: white;
    width: 1350px;
    height: 450px;
} 
.df{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}
.ce{
    display: flex;
    justify-content: space-around;
    background-color: rgba(202, 235, 19, 0.329);
}
img{
    border-radius: 40px;
}
.sit {
    color: rgb(138, 121, 124);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tion {
    display: flex;
    justify-content: space-around;
}
.age{
    text-align: center;
    background-attachment: fixed;
}
.abcd>img>p{
    background-color: rgba(37, 228, 20, 0.918);
    display: flex; 
    width: 1350px;
    flex-direction: column;
}

